# Игнорируем папку с виртуальным окружением Python
.venv/

# Игнорируем файлы кеша и байт-коды Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем файлы и папки, связанные с тестами
tests/

# Игнорируем файлы, созданные системой или редакторами
*.log
*.swp
*.swo
.DS_Store
*.bak
*.tmp

# Игнорируем Docker файлы, если они не должны быть скопированы в контейнер
Dockerfile*
docker-compose.yml

# Игнорируем файлы с конфиденциальной информацией
.env

# Игнорируем node_modules если они есть (для frontend)
frontend/node_modules/

# Игнорируем файлы сборки и другие временные файлы
frontend/build/
frontend/dist/
frontend/.cache/

# Игнорируем папки, которые не имеют отношения к Docker
.git/
.gitignore
README.md
